/* Single row container */
.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 12vw;
}

.tile {
  width: 12vw;
  height: 12vw;
  background-color: #D6D6C2;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  font-weight: bold;
  font-size: clamp(10px, 1.6vw, 18px);
  text-transform: uppercase;
  cursor: move;
  border-radius: 6px;
}

.comment-tile {
  width: 18vw;
  height: 12vw; /* Same height as a tile */
  background-color: #D6D6C2;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  font-weight: bold;
  font-size: clamp(10px, 1.6vw, 18px);
  text-transform: uppercase;
  border-radius: 6px;
  padding: 0.5em;
  box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.comment-tile div {
  margin-bottom: 0.5em;
}

.comment-tile .button-container {
  display: flex;
  justify-content: center;
}

.comment-tile button {
  margin: 0 0.1em;
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-tile button:hover {
  background-color: #e0e0e0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.group-yellow {
  background-color: #F6E27F;
}

.group-green {
  background-color: #A9C47F;
}

.group-blue {
  background-color: #B5CBE5;
}

.group-purple {
  background-color: #C39CC3;
}

.tile-yellow {
  background-color: #F6E27F;
}

.tile-green {
  background-color: #A9C47F;
}

.tile-blue {
  background-color: #B5CBE5;
}

.tile-purple {
  background-color: #C39CC3;
}
